<div class="nav">
    <div class="nav-logo">
        <h3>Logo</h3>
    </div>

    <div class="nav-links">
        <vaadin-tabs orientation="horizontal" [selected]="tabSelect">
          <vaadin-tab routerLink="/products">
            <vaadin-icon icon="vaadin:list-ul"></vaadin-icon>
            <span>Products</span>
          </vaadin-tab>
          <vaadin-tab routerLink="/cart">
            <vaadin-icon icon="vaadin:cart"></vaadin-icon>
            <span>Cart</span>
          </vaadin-tab>
          <vaadin-tab  routerLink="/dashboard" *ngIf="loadedUser.isAdmin">
            <vaadin-icon icon="vaadin:dashboard"></vaadin-icon>
            <span>Dashboard</span>
          </vaadin-tab>
        </vaadin-tabs>

        <vaadin-button  (click)="logout()" theme="primary">Logout</vaadin-button>
    </div>
  </div>

