<div class="content">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let row"> {{row.price}} </td>
          </ng-container>
  
          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let row"> {{ row.qty }} </td>
          </ng-container>
      
          <ng-container matColumnDef="qpd">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity Per Date </th>
            <td mat-cell *matCellDef="let row"> 
                {{ row.qty_on_dates }}
            </td>
          </ng-container>

          <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> availability</th>
            <td mat-cell *matCellDef="let row"> 
                {{ row.availability }}
            </td>
          </ng-container>

          <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> order</th>
            <td mat-cell *matCellDef="let row"> 
                {{ row.date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Group </th>
            <td mat-cell *matCellDef="let row"> {{row.omada}} </td>
          </ng-container>

          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
            <td mat-cell *matCellDef="let row"> {{row.marka}} </td>
          </ng-container>
      
          <ng-container matColumnDef="rim">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rim </th>
            <td mat-cell *matCellDef="let row"> {{row.zanta}} </td>
          </ng-container>
          
          <ng-container matColumnDef="season">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Season </th>
            <td mat-cell *matCellDef="let row"> {{row.epoxi}} </td>
          </ng-container>

          <ng-container matColumnDef="update date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Update Date </th>
            <td mat-cell *matCellDef="let row"> {{row.upddate}} </td>
          </ng-container>

          <ng-container matColumnDef="thessaloniki's stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Thessaloniki's Stock </th>
            <td mat-cell *matCellDef="let row"> {{row.apothema_thess}} </td>
          </ng-container>

          <ng-container matColumnDef="athens' stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Athens' Stock </th>
            <td mat-cell *matCellDef="let row"> {{row.apothema_athens}} </td>
          </ng-container>



          <ng-container matColumnDef="remove">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Remove </th>
            <td mat-cell *matCellDef="let row">
                <vaadin-button theme="primary error">Remove</vaadin-button> 
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <!-- <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr> -->
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of products"></mat-paginator>
    </div>
</div>