@import '../../../colors.scss';
@import '../../../mixins.scss';
@import '../../../variables.scss';


.container{
    height: 100vh;
    width: 100vw;
    background-color: $primary-color;

    @include center-element;
    
    .login{
        background-color: white;
        width: fit-content;
        
        .login-header{
            @include center-element;
            background-color: $text-color;
            
            h2{
                color: white;
            }
        }

        .login-form{
            @include center-element;
            margin-top: 12px;
            flex-direction: column;
            width: 350px;

            mat-form-field{
                margin-top: 12px;
            }

            .error{
                @include center-element;
                width: 70%;
                text-align: center;

                mat-error{
                    color: red;
                    margin-bottom: 12px;
                }
            }

            .buttons{
                width: 70%;
                margin-top: 24px;
                margin-bottom: 24px;
                vaadin-button{
                    width: 100%;
                    
                }
            }
        }
    }
}