/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import './colors.scss';

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0 !important;
    background-color: $primary-color;
}
html, body { height: 100%; }

.mdc-text-field{
    overflow: visible !important;
    color: $text-color !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba($color: #000000, $alpha: 0);
}

.mat-mdc-form-field-focus-overlay {
    background-color: black;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color: black !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing{
    border-color: $text-color !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
    color: black !important;
}

.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading, .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__notch,.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing{
    border-color: $text-color !important;
}

.mdc-text-field .mdc-text-field__input{
    caret-color: black !important;
}

.mat-mdc-paginator-outer-container{
    // background-color: black;
    color: black;
}

.mat-mdc-select-value{
    color: black !important;
}

.mat-mdc-select-arrow svg{
    color: black;
}

.mat-mdc-paginator-icon{
    fill: black;
}



.qty .mat-mdc-text-field-wrapper{
    width: 80% !important;
}


// .mat-mdc-form-field-focus-overlay{
//     background-color: white;
// }

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before, .mdc-text-field--filled .mdc-line-ripple::after{
    border-bottom-color: $text-color;
}

.mat-mdc-input-element{
    color: white;
}

.mat-mdc-snack-bar-label{
    color: white !important;
}

.mat-mdc-snack-bar-container {
    // background-color: black;
    // width: fit-content;
}

.mat-mdc-snack-bar-label{
    background-color: black;
    display: flex;
    justify-content: center;
}
.mat-form-field{
    height: fit-content !important;
}

.mat-mdc-form-field-subscript-wrapper{
    display: none !important;
}

.mat-form-field-disabled{
    opacity: 0.5 !important;
}

vaadin-button{
    cursor: pointer !important;
    color: white;
    transition: all 0.2s ease-in-out;
}

vaadin-button:active{
    transform: scale(0.9);
}