*{
    --lumo-primary-color: #27509B; 
    --lumo-primary-text-color: #27509B;
    --lumo-contrast-30pct: rgba(39, 80, 155, 0.5);
    --lumo-contrast-60pct: black;  
    --lumo-secondary-text-color: black;
    --lumo-body-text-color: black;
}

